.boxPsswd {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #000000, 0.1px 0.1px 1px $inputSubmit, 0.2px 0.2px 1px $inputSubmit, 0.3px 0.3px 1px $inputSubmit;
  // border-bottom: 2px solid $vertVinted;

  .classLabelInput {
    @include flexStart;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 30px;

    & input {
      @include flexStart;
      box-shadow: none;
      border-bottom: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: 30px;
      padding: 0;
      width: 100%;
    }
  }

  .boxIcons {
    width: 10%;
    @include flexCenter;
    height: 30px;
    background-color: $text;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    & svg {
      color: #000000;
    }
  }
}