footer {
  width: 100%;

  .wrapper {
    padding: 20px 0 20px 0;
    width: 100%;

    .boxLinkFooter {
      @include flexCenter;

      & li {
        width: calc(100% / 2);
        text-align: center;
      }

      & li:first-child {
        & a {
          font-weight: 800;
        }
      }

      & li:last-child {
        & a {
          font-weight: 800;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .boxLinkFooter {
    @include flexBetween;
    width: 100% !important;
    flex-direction: row !important;

    & li {
      text-align: justify !important;
    }

    & li:last-child {
      @include flexEnd;
      gap: 5px;
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {

  .collec,
  .review {
    width: calc(100%/4);
  }

  .boxLinkFooter {
    flex-direction: column !important;
  }
}

// @media all and (min-width : 1400px) {}