header {
  border-bottom: 2px solid crimson;
  padding: 10px;
  height: 60px;
  position: relative;

  .wrapper {
    @include flexBetween;

    // border: 2px solid green;
    .logo {
      @include flexBetween;
      // gap: 5px;
      width: 70%;

      & img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }

      & p {
        // @include flexEnd;
        @include pressStart2p;
        letter-spacing: 0.25rem;
        order: 2;
        color: $text;
      }
    }

    nav {
      @include flexEnd;
      width: 20%;


      .boxSearch {
        background-color: #ffffff;
        @include flexCenter;
        border-radius: 15px;
        padding-left: 8px;
        gap: 5px;
        // border: 2px solid blue;
        width: 40%;
        position: absolute;
        top: 80%;
        left: 47%;
        transform: translate(-50%, -50%);

        .svg-inline--fa {
          height: 15px;
        }

        .classLabelInput {
          width: 100%;
          height: 20px;

          input {
            width: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: none;
            border: none;
            caret-color: #000;
            background-color: transparent !important
          }
        }

        & svg {
          color: $backgrdInput;
        }
      }

      ul {
        @include flexBetween;
        width: 100%;

        li {
          @include flexCenter;
          width: fit-content;

          a {
            @include flexColCenter;
            width: fit-content;

            .infobulle {
              background-color: $text;
              color: $backgrdInput;
              text-align: center;
              padding: 1.5px;
              border-radius: 5px;
              position: absolute;
              display: inline-block;
              visibility: hidden;
              top: 100%;
              left: 80%;
              transform: translate(-50%, -50%);
            }

            .iconFav,
            .iconLogin {
              color: $iconHeader;
            }
          }

          &:hover .infobulle {
            visibility: visible;
          }

          .buttonSignup,
          .buttonLogout,
          .buttonLogin {
            background-color: transparent;
            border: none;
            @include flexColCenter;
            cursor: pointer;

            .infobulle {
              background-color: $text;
              color: $backgrdInput;
              text-align: center;
              padding: 1.5px;
              border-radius: 5px;
              position: absolute;
              display: inline-block;
              visibility: hidden;
              top: 100%;
              left: 90%;
              transform: translate(-50%, -50%);
            }

            .iconSignup,
            .iconLogout {
              color: $iconHeader;
            }

            &:hover .infobulle {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.wrapper>a {
  width: 20%;
  @include flexBetween;

  & img {
    margin-left: -5px;
  }

  // border: 2px solid pink;
  ul {
    padding-right: 10px;
  }

  .iconGam {
    color: $iconHeader;
  }

  .imgHeader {
    width: 40%;
    object-fit: cover;
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

@media (min-width: 768px) {
  header {
    height: 50px;
    padding: 5px;

    .wrapper {
      height: 100%;

      .logo {
        padding-left: 5px;
        width: 15%;
        gap: 10px;
      }

      & nav {
        & ul {
          width: 30%
        }

        .boxSearch {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .classLabelInput {
            height: 30px;
          }
        }
      }
    }
  }

}

// @media all and (min-width : 992px) {}

// @media all and (min-width : 1200px) {}

// @media all and (min-width : 1400px) {}