  //font color
  $text: #f1f1f1f1;
  //background color
  $backgrd: #242424;
  $backgrdInput: #303030;
  $backgrdInputLogin: rgba(48, 48, 48, 0.5);
  //color icon
  $iconHeader: #FF4655;
  $red: #ff0000;
  $inputSubmit: rgb(255, 34, 0);
  $lineRed: #FF4655;